.action {
  opacity: 0;
}

tr:hover .action {
  opacity: 1;
}

tbody td a {
  color: #222;
}
.material-icons:hover{
  cursor: pointer;
}

.searchBar{
  border: none;
  outline: none;
  border-radius: 10px;
  width: 100%;
}